{% extends 'baseadmin.html.twig' %}

{% block title %}Add new brand - Admin site
{% endblock %}

{% block body %}
	<h1>BRAND INFORMATION</h1>
    <hr></hr>
	<h3>ADD NEW BRAND</h3>
    <br></br>
	{{ include('category/_form.html.twig') }}
{% endblock %}