{% extends 'baseadmin.html.twig' %}

{% block title %}Edit status order - Admin site{% endblock %}

{% block body %}
<h1>ORDER INFORMATION</h1>
<hr></hr>
<h3>EDIT STATUS ORDER</h3>
<br></br>


    {{ include('orders/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
