{% extends 'baseadmin.html.twig' %}

{% block title %}Edit account - Admin site{% endblock %}

{% block body %}
<h1>ACCOUNT INFORMATION</h1>
<hr></hr>
<h3>EDIT ACCOUNT</h3>
<br></br>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
