{% extends 'baseadmin.html.twig' %}

{% block title %}Sign up an admin account - Admin site{% endblock %}

{% block body %}
<h1>ACCOUNT INFORMATION</h1>
<hr></hr>
<h3>SIGN UP AN ADMIN ACCOUNT</h3>
<br></br>
    {{ include('user/_form.html.twig') }}

{% endblock %}
